[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langgraph = "*"
langchain = {extras = ["openai"], version = "*"}
numpy = "*"
python-dotenv = "*"
graphviz = "*"
langchain-community = "*"
langchain-experimental = "*"
wikipedia = "*"

[dev-packages]

[requires]
python_version = "3.13"
